.u2antd-table {
  background: #fff;
  padding: 0 14px;
  .u2antd-table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
  }
  .u2antd-table-name {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 16px;
  }
}
